<mat-card class="example-card">
    <mat-card-header class="title" (click)="openDialog()">
        <mat-card-subtitle>{{ article.creator }}</mat-card-subtitle>
        <mat-card-subtitle>{{ article.createdAt }}</mat-card-subtitle>
        <mat-card-title>{{ article.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ article.content }}</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="center">
        <button mat-button>
            <mat-icon>favorite</mat-icon>LIKE
        </button>
        <button mat-button>
            <mat-icon>share</mat-icon>SHARE
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>