.example-spacer {
    flex: 1 1 auto;
}

.container {
    margin-left: 8px;
    margin-top: 20px;

}

.title {
    align-content: center;
    text-align: center;
    margin-right: 30px;
}

.mat-field-class {
    height: 80%;

}