<h2 mat-dialog-title>
    {{ data.title }}
</h2>

<mat-dialog-content class="mat-typography">
    <h3>
        {{ data.creator }}, created {{ data.createdAt }}
    </h3>
    <p>{{data.content }}
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores accusantium quod alias atque placeat fuga
        laboriosam eligendi, non itaque sunt rerum unde culpa architecto minus quaerat rem iure similique repellat.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>