<form [formGroup]="articleForm">

    Value : {{ articleForm.value|json }}
    <hr>
    <mat-form-field>
        <input matInput placeholder="title" formControlName="title">
        <mat-error *ngIf="title!.invalid && title!.touched">
            your email is wrong
        </mat-error>
    </mat-form-field>
    <hr>

    <div formArrayName="sections">
        <div *ngFor="let section of sectionsForms.controls; let i=index" [formGroupName]="i">
            <mat-form-field>
                <input matInput placeholder="sectionTitle" formControlName="sectionTitle">
                <mat-error *ngIf="section.get('sectionTitle')!.invalid && section.get('sectionTitle')!.touched">..Title
                    is
                    empty..
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" formControlName="content"></textarea>
                <mat-error *ngIf="section.get('content')!.invalid && section.get('content')!.touched">..Content is
                    empty..
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Image path" formControlName="imagePath">
                <mat-error *ngIf="section.get('imagePath')!.invalid && section.get('imagePath')!.touched">..imagePath is
                    empty..
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deleteSection(i)">Delete</button>
            <hr>
        </div>
        <button mat-raised-button color="primary" (click)="addSectionForm()">Add</button>
        <hr>
        <button mat-raised-button [disabled]="articleForm.invalid" color="primary"
            (click)="addSectionForm()">Submit</button>

    </div>

    <!-- <mat-form-field>
        <mat-select formControlName="career" placeholder="career">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field> -->
</form>